@import url('https://fonts.googleapis.com/css2?family=Lobster&amp;display=swap');
* {
    margin: 0;
}

.fullscreen-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

div {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

h1 {
    text-align: center;
    font-size: 15vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'lobster', cursive;
}